body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    margin: 0;
    background-color: rgb(225, 225, 225);
}

.index-box{
    width:400px;
    margin: 150px auto;
    padding:80px 10px;
    background-color:white;
    border-radius: 12px;

}

.index-btn{
    width:100%;
    padding:20px;
    margin-bottom: 20px;
    border:none;
    border-radius: 12px;
    background-color: rgb(140, 107, 248);
    font-size: 16px;
    cursor:pointer;
}

.link{
    text-decoration: none;
    color:white;
}
/* =========================================================== */
.email-card{
    width:250px;
    background-color: white;
    margin: 30px auto;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    border-radius: 12px;
}

.email-img{
    height: 200px;
}

.email-input{
    width:100%;
    padding:5px;
    box-sizing: border-box;
    border-radius: 5px;
    border:1px solid rgb(48, 26, 129);
    margin-bottom: 10px;
}

.email-btn{
    width:100%;
    padding: 8px;
    border-radius: 5px;
    border:none;
    background-color:rgb(48, 26, 129) ;
    color:white;
    font-size: 12px;
    cursor:pointer
}
.heading{
    font-size: 24px;
    margin-bottom: 0;
}

.para{
    font-size:10px;
    margin-top: 5px;
    margin-bottom: 20px;
    color:rgb(141, 141, 141);
}
/* ============================================== */

.welcome-card{
    width:250px;
    background-color: white;
    margin: 30px auto;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    text-align: center;
    border-radius: 12px;
}

.welcome-img{
    height:100px;
}

.welcome-btn{
    width:100%;
    padding:8px;
    margin-bottom: 5px;
    border:none;
    border-radius: 5px;
    text-align: start;
    font-size: 12px;
    background-color: white;
}

.on{
    background-color: rgb(231, 231, 231);
}
.welcome-para{
    font-size: 10px;
    color:rgb(181, 181, 181);
}

/* ============================================== */

.credit-card{
    width:250px;
    background-color: white;
    margin: 30px auto;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    border-radius: 12px;
}

.cr-input{
    width:100%;
    padding:5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.cr-btn{
    width:100%;
    padding: 5px;
}
.cr-img{
    height: 200px;
}
.cr-heading{
    font-size:24px;
    margin-bottom: 0;
    margin-top: 0;
}
.cr-para{
    font-size:10px;
    margin-top: 4px;
    color:rgb(163, 163, 163);
}
.cr-input{
    border-radius: 5px;
    border:1px solid rgb(48, 26, 129);
    font-size: 10px;
    color:rgb(186, 185, 185);
    padding: 8px;
}

.cr-btn{
    border:none;
    border-radius: 5px;
    background-color: rgb(48, 26, 129);
    color:white;
    font-size: 10px;
    padding: 8px;
}
.cr-lastline{
    font-size: 8px;
    color: rgb(155, 141, 141);
}
/* ======================================================== */
.card-company{
    width:300px;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin: 40px auto;
    border-radius: 12px;
}

.company-img{
    height: 150px;
}

.company-input{
    width:100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid lightblue;
    font-size:12px;
    margin-bottom: 10px;
}

.company-select{
    width:100%;
    padding: 8px;
    background-color: white;
    border-radius: 5px;
    border:1px solid lightblue;
    margin-bottom: 10px;
}

.company-label{
    font-size: 8px;
    color:rgb(155, 155, 155);  
    display: block; 
    text-align: start; 
    padding-bottom: 5px;
}

.company-btn{
    background-color: lightblue;
    font-size: 16px;
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor:pointer;
}

.company-heading{
    font-size: 24px;
    margin-bottom: 0;
}

.company-para{
    font-size: 12px;
    line-height: 1.2;
    color:rgb(135, 135, 135);
    margin-bottom: 20px;
}